{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class = "h1 m-4 text-center">All users</div>
<body class = "container ">
    <h1></h1>
    <div class = "container bg-body py-5">
        <table class="table">
            <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th class="col-3">User Name</th>
                <th class="col-8"></th>
                <th class="col">more</th>
            </tr>
            </thead>
            <tbody>
                {%for u in users%}
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{u.username}}</td>
                    <td></td>
                    <td>
                        <a href="{% url 'profile' pk=u.id %}" class = "text-center">more</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
