{% extends 'home.html'%}

{% block title %} Club View {% endblock %}

{% block content %}
<div class = "h1 m-4 text-center">{{club.name}}</div>
<div class = "container">
	<div class = "row justify-content-center">
		<form enctype = "multipart/form-data"  novalidate method = "post">
			<div class="g-3 needs-validation my-form px-5 py-3 m-2 mb-5 col-12 align-self-center bg-light">
				{% csrf_token %}
				<div class="mb-2">
					<div>{{club.introduction}}</div>
				</div>
			</div>
			
			<section class="text-center container">
				<div class="row ">
					<div class="col-lg-6 col-md-8 mx-auto">
						<p>
							<a href="{% url 'club-index' %}" class="btn btn-dark my-2">Back</a>
							<button class="btn btn-secondary my-2" type="submit" value = "submit">Join</button>
						</p>
				  </div>
				</div>
			</section>
		</form>      
	</div>
</div>
{{form.errors}}

{%endblock%}
