{% extends 'home.html'%}

{% block title %} Create Club {% endblock %}

{% block content %}
<div class = "h1 m-4 text-center">Create Club</div>
<div class = "container">
	<div class = "row justify-content-center">
		<form enctype = "multipart/form-data" class="g-3 needs-validation my-form px-5 py-3 m-2 mb-5 col-6 align-self-center bg-light" novalidate method = "post">
			{% csrf_token %}
			<div class="mb-2">
				<div>
					<label >Name</label>
					<div class = "col">
						<input type="text" class="form-control" id="name" name = "name" >
					</div>
				</div>
			</div>
			<div class="mb-2">
				<div>
					<label >Introduction</label>
					<div class = "col">
						<textarea type="text" class="form-control" id="introduction" name = "introduction" placeholder="intro to your club:D" ></textarea>
					</div>
				</div>
			</div>
			<div class="mb-2">
				<div>
					<label >Cover</label>
					<div class = "col">
						<input class = "" type="file" name="cover" accept="image/*" id="id_cover">
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<button class="col-6 btn my-btn" type="submit" value = "submit">Create</button>
			</div>
		</form>      
	</div>
</div>

{%endblock%}

