{% extends 'base.html' %}

{% block title%} Profile {% endblock %}

{% block content %}

<div class="album bg-light">
    <section class="py-5 text-center container">
        <div class="row ">
          <div class="col-lg-6 col-md-8 mx-auto">
            {%if profile.avatar%}
            <div class = "d-flex justify-content-center">
                <div class = " img-avatar d-flex justify-content-center">
                    <img class = "" src = "{{ MEDIA_URL}}{{profile.avatar}}">
                </div>
            </div>
            {%else%}
            {% load static %}
            <img class = "svg-avatar" src="{% static 'imgs/user.svg' %}" height = "20">
            {%endif%}
            <h1 class="fw-light">{{person.username}}</h1>
            {%if user.id == profile.user_id or profile.is_visable == 1 %}
                <p class="lead text-muted">{{profile.introduction}}</p>
            {%else%}
                <p class="lead text-muted">user hide his/her information</p>
            {%endif%}
            <p>
                {%if user.id == profile.user_id%}
                <a href="{% url 'profile-update' pk=user.id%}" class="btn btn-dark my-2">Edit Profile</a>
                <a href="{% url 'article-create' %}" class="btn btn-secondary my-2">Write Article</a>
                {%endif%}
            </p>
          </div>
        </div>
    </section>
</div>
<div class = "container bg-body py-5">
    <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th class="col-3">Title</th>
            <th class="col-8">Article</th>
            <th class="col">more</th>
          </tr>
        </thead>
        <tbody>
            {%for article in articles%}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{article.title}}</td>
                <td>{{article.article}}</td>
                <td>
                    <a href="{% url 'article' pk=article.id %}" class = "text-center">more</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
      </table>
</div>
{% endblock %}
