{% extends 'home.html'%}

{% block title %} My Login {% endblock %}

{% block content %}
update
<form enctype = "multipart/form-data" method="POST">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="submit" name="button" value = "Upload">update</button>
</form>
<!-- <form method = "post">
  {% csrf_token %}
  <label> {{user}}</label>
  <textarea name = "introduction">{{profile.introduction}}</textarea>
  <button type = "submit" value = "update">subnut</button>
</form>
{{form.errors}} -->
{%endblock%}

